# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and models (large files)
data/
dataset/
models/
*.h5
*.pt
*.pkl

# Logs and temp files
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
